.container {
  background: linear-gradient(#31aadf, #d8f2fc);
  display: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.body {
  line-height: 3;
}

.input {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.footer {
  background: #d5f1fa;
  width: 100%;
  height: 5%;
  min-height: 100px;
}

@media (max-width: 600px) {



.h1 {
  font-size: .5em !important;
}

/*.container {
    width: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
  }*/

  .leftbar {
    width: 100%;
    min-height: 15%;
  }

  .posts {
    width: 100%;
    min-height: 70%;
  }

  .recent-entries {
    width: 100%;
    min-height: 15%;
  }
}
